<!-- <style>
    html,
    body,
    #mapDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
</style> -->

<!-- Import ArcGIS Map CSS -->
<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />

<!-- Import ArcGIS 4.15 Library. -->
<script src="https://js.arcgis.com/4.15/"></script>

<!-- Import Custom Map Setup Javascript. -->
<script src="map.js"></script>

<!-- Div to hold map. -->
<div id="mapDiv"></div>

<!-- Element to display mouse coordinates. -->
<p id="info" style="position:absolute; padding:2px; background-color: #00000061; color:white; top:0px; right:15px;"></p>