html,
body {
    height: 100%;
    margin: 0
}

/*  These content-stretcher classes is used to stretch an inner content class to fill the remaining vertical space. 
    Credit goes to: https://stackoverflow.com/a/24979148/8306962 */
.content-stretcher {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content-stretcher .content-stretcher-header {
    flex: 0 1 auto;
}

.content-stretcher .content-stretcher-content {
    flex: 1 1 auto; 
}

.content-stretcher .content-stretcher-footer {
    flex: 0 1 40px;
}

/*  End content-stretcher classes. */

#content {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

#data-portal-button {
    color: white;
    background: #C86442;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 0px;
    margin-bottom: 13px;
    padding: 5px 18px 5px 10px;
}

.bg-dark-blue {
    background-color: #2C3E50;
}

.bg-white {
    background-color: white;
}

.tagline {
    color:#889;
    font: normal 100 20px sans-serif;
    margin-top: 51px;
    margin-left:30px;
    min-width:333px;
}

#middle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80%;
}

#navigation {
    background-color:white; 
    border-radius:5px; 

    padding-top: 12px; 
    font-size:20px;
    overflow: auto;
}

/*Media Queries*/
@media screen and (max-width: 1300px) {
    .tagline{
        display: none;
    }
}
