#steps {
    background-color: #1C5A75;
    min-height: 50px;
    line-height: 45px;
}

.step {
    text-align: center;
    -webkit-box-shadow: inset 63px 10px 41px -74px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 63px 10px 41px -74px rgba(0,0,0,0.75);
    box-shadow: inset 63px 10px 41px -74px rgba(0,0,0,0.75);
    color: white;
    font-size: 20px;
}

.step:hover {
    color: white;
}

#steps .step:not(:last-child).selected {
    background-color: #65b5d0;
}

#steps .step:not(:last-child) {
    background-color: #4787A2;
}

/* Steps small screen top to bottom layout. */
@media only screen and (max-width: 767px) {
    #steps .step {
        -webkit-box-shadow: inset 0px 163px 58px -200px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 163px 58px -200px rgba(0,0,0,0.75);
        box-shadow: inset 0px 163px 58px -200px rgba(0,0,0,0.75);
        /* border-top: 1px solid white; */
    }

    #steps .step:nth-child(1) {
        z-index: 4;
    }
    
    #steps .step:nth-child(2) {
        z-index: 3;
    }
    
    #steps .step:nth-child(3) {
        z-index: 2;
    }
    
    /* User Manual */
    #steps .step:nth-child(4) {
        z-index: 1;
        width: 100%;
        background-color: #1C5A75;
    }
}

/* Steps big screen left to right layout. */
@media only screen and (min-width: 768px) {
    #steps .step:not(:last-child) {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    #steps .step:nth-child(1) {
        z-index: 4;
    }
    
    #steps .step:nth-child(2) {
        z-index: 3;
        left: -18px;
    }
    
    #steps .step:nth-child(3) {
        z-index: 2;
        left: -36px;
    }
    
    /* User Manual */
    #steps .step:nth-child(4) {
        z-index: 1;
        left: -54px;
        width: 100%;
        background-color: #1C5A75;
        padding-left: 70px;
    }
}

#options-container {
    padding: 20px;
    background-color: #3E4E60;
    -webkit-box-shadow: inset -1px 190px 38px -200px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 190px 38px -200px rgba(0,0,0,0.75);
    box-shadow: inset -1px 190px 38px -200px rgba(0,0,0,0.75);
}

#options-container .options {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

#options-container .options .box {
    height: 100%;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #C86442;
    border-radius: 5px;
    margin-right: 25px;
    -webkit-box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.75);
}

#options-container .options .box h3{
    color:#3e4e60;
}

#options-container .options .box * {
    padding-bottom: 5px;
    width: 100%;
    border-radius:5px;
}

#options-container .options .box input,
#options-container .options .box select {
    height: 35px;
}

#content-container {
    background-color: white;
}

.content {
    width: 100%;
    height: 100%;
}

.side-button-left {
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px;
    right: 0px;
    left: -20px;
    padding: 10px;
    text-align: center;
    top: -30px;
    -webkit-box-shadow: -5px 5px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 13px -5px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 13px -5px rgba(0,0,0,0.75);
}

#options-container .options .side-button-right {
    right: -20px;
}

.side-button-right {
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px;
    right: 0px;
    margin-left: auto;
    padding: 10px;
    text-align: center;
    top: -30px;
    -webkit-box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.75);
}

.orange {
    background-color:#C86442; 
    color: white;
}

.orange:hover {
    color: white;
}

.blue {
    background-color: #4787A2;
    color:white;
}

.blue:hover {
    color: white;
}

.gap{
    padding: 20px;
}

input[type=date] {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color:#3e4d60;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

/*change triangle to calendar logo*/
input[type="date"]::-webkit-calendar-picker-indicator {
    background: url("../img/calendar-icon.png") no-repeat;
    background-size: 100% 100%;
    width: 14px;
    height: 18px;
    cursor: pointer;
    margin-left: .5rem;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
}

.search-box{
    background: white;
    border-radius: 5px;
    margin-left: 12%;
    padding: 0;
    height: 35px;
}

.search-txt{
    border: none;
    outline: none;
    background: none;
    float: left;
}

.search-btn{
    float: right;
    height: 20px;
    width: 20px;
    background:url("../img/search-icon.png");
    background-size: 100% 100%;
    margin-top: 3px;
}

#step2-options >div div{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0 !important;
}

